@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
/* body {
    background-color:  #191919 ;
    color: white;
} */

body {
    background: #0f0f10;
    color: #fff;
  }
  
  input,
  textarea {
    color: #000;
  }
